<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>{{ list_detail.name }}</h1>
    <div>
        <p>
            <a href="{% url 'todo_list_update' list_detail.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' list_detail.id%}">Delete</a>
        </p>
    </div>
    <h2>Tasks</h2>
    <table>
        <thead>
            <th>Tasks</th>
            <th>Due date</th>
        </thead>
        <tbody>
            {% for task in list_detail.items.all%}
            <tr>
                <td>
                    <a href="{% url 'todo_item_update' list_detail.id%}">{{ task.task }}</a>
                </td>
                <td>{{ task.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
